---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=dd08e8e9dd56c6441fca5fc23bd53177&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1636825178,"sunrise":1636810962,"sunset":1636847163,"temp":62.53,"feels_like":59.7,"pressure":1018,"humidity":26,"dew_point":27.77,"uvi":2.01,"clouds":100,"visibility":10000,"wind_speed":4,"wind_deg":289,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1636822800,"temp":61.43,"feels_like":58.55,"pressure":1018,"humidity":27,"dew_point":27.75,"uvi":1.38,"clouds":100,"visibility":10000,"wind_speed":4.5,"wind_deg":259,"wind_gust":8.55,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1636826400,"temp":62.53,"feels_like":59.7,"pressure":1018,"humidity":26,"dew_point":27.77,"uvi":2.01,"clouds":100,"visibility":10000,"wind_speed":2.77,"wind_deg":281,"wind_gust":5.93,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1636830000,"temp":62.65,"feels_like":59.79,"pressure":1017,"humidity":25,"dew_point":27.01,"uvi":2.39,"clouds":100,"visibility":10000,"wind_speed":4.72,"wind_deg":326,"wind_gust":11.61,"weather":[{"id"[...]
