---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_SECRET_KEY&location=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 16 Nov 2021 19:35:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_SECRET_KEY&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1788757737"}]}]}'
  recorded_at: Tue, 16 Nov 2021 19:35:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_SECRET_KEY&exclude=minutely&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8781,"lon":-87.6298,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637091349,"sunrise":1637066509,"sunset":1637101749,"temp":46.06,"feels_like":43.57,"pressure":1017,"humidity":73,"dew_point":37.9,"uvi":1.04,"clouds":75,"visibility":10000,"wind_speed":5.01,"wind_deg":157,"wind_gust":5.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1637089200,"temp":46.15,"feels_like":40.59,"pressure":1017,"humidity":70,"dew_point":36.93,"uvi":1.57,"clouds":70,"visibility":10000,"wind_speed":11.99,"wind_deg":144,"wind_gust":16.35,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1637092800,"temp":46.06,"feels_like":40.15,"pressure":1017,"humidity":73,"dew_point":37.9,"uvi":1.04,"clouds":75,"visibility":10000,"wind_speed":13.02,"wind_deg":146,"wind_gust":18.41,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1637096400,"temp":46.44,"feels_like":40.68,"pressure":1017,"humidity":70,"dew_point":37.2,"uvi":0.47,"clouds":76,"visibility":10000,"wind_speed":12.84,"wind_deg":146,"wind_gust":20.11,"weather":[{"id":8[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92-o1nHW9IIbdYAQ40ifimKzrSNwMA"
    body:
      encoding: UTF-8
      string: '{"activity":"Do something you used to do as a kid","type":"relaxation","participants":1,"price":0.1,"link":"","key":"8827573","accessibility":0.8}'
  recorded_at: Tue, 16 Nov 2021 19:35:59 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f-ysXG7C2bo6/kjrkRnocrmhVtFeo"
    body:
      encoding: UTF-8
      string: '{"activity":"Cook something together with someone","type":"cooking","participants":2,"price":0.3,"link":"","key":"1799120","accessibility":0.8}'
  recorded_at: Tue, 16 Nov 2021 19:36:02 GMT
recorded_with: VCR 6.0.0
