---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9-1oxV7mbxydb0zdPPmwlJCx/t3FM"
    body:
      encoding: UTF-8
      string: '{"activity":"Learn how to use a french press","type":"recreational","participants":1,"price":0.3,"link":"https://en.wikipedia.org/wiki/French_press","key":"4522866","accessibility":0.3}'
  recorded_at: Wed, 17 Nov 2021 01:18:03 GMT
recorded_with: VCR 6.0.0
