---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-Mrk6CtmkVgvDvUDkJ6nTwpXtuyg"
    body:
      encoding: UTF-8
      string: '{"activity":"Plan a trip to another country","type":"recreational","participants":1,"price":0,"link":"","key":"5554727","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 18:20:31 GMT
recorded_with: VCR 6.0.0
