---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98-wrrjl6WjmCbWyEJjan8GFheuUBk"
    body:
      encoding: UTF-8
      string: '{"activity":"Learn to write with your nondominant hand","type":"recreational","participants":1,"price":0,"link":"","key":"1645485","accessibility":0.02}'
  recorded_at: Tue, 16 Nov 2021 23:39:55 GMT
recorded_with: VCR 6.0.0
