---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-xGgV/e11UySj4tW6oU2hGx0tixI"
    body:
      encoding: UTF-8
      string: '{"activity":"Binge watch a trending series","type":"recreational","participants":1,"price":0.2,"link":"","key":"5881647","accessibility":0.2}'
  recorded_at: Mon, 15 Nov 2021 18:20:40 GMT
recorded_with: VCR 6.0.0
